.pointer {
    cursor: pointer;
}

.notes {
    height: 20rem !important;
    background-image: none;
}


.mcard {
    float: left;
    width: 144px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
    /* copied from mdbootstrap .card */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
}

.mcard img {
    width: inherit;
    height: inherit;
}


.turn-slot {
    float: left;
    color: #dddddd;
    font-size: 7rem;
    font-weight: bold;
    margin: 25%;
}
